---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120

# Braces
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Indentation
IndentCaseLabels: true
IndentPPDirectives: AfterHash

# Line breaks
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
---
